@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");
#dating {
  height: 110vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: url(/img/sunsetDating.jpg);
  background-size: cover;
  background-position: center;
}

.titleformDating {
  margin-top: 30px;
  color: aliceblue;
  font-weight: bold;
  text-shadow: rgba(66, 25, 6, 0.897) 2px 0px 10px;
}

.datingFormDescription {
  color: aliceblue;
  margin-top: 10px;
  width: 85%;
  text-align: center;
  text-shadow: rgba(66, 25, 6, 0.897) 2px 0px 10px;
}

.formBox {
  background: linear-gradient(rgba(59, 129, 18, 0.603), rgba(0, 17, 0, 0.9));
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

hr {
  width: 95%;
  color: aliceblue;
}

form {
  padding: 30px 20px 50px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

input {
  margin-bottom: 5px;
  background-color: rgba(255, 254, 254, 0.575);
  width: 100%;
  border: 1px;
  border-radius: 5px;
  padding: 2px;
}

textarea {
  margin-bottom: 25px;
  background-color: rgba(255, 254, 254, 0.575);
  width: 100%;
  border: 1px;
  border-radius: 5px;
  padding: 2px;
  height: 50px;
}

.sendMessage {
  width: 160px;
  font-size: 20px;
  padding: 5px;
  border-radius: 10px;
  border: 1px;
  background-color: rgba(18, 125, 129, 0.774);
  color: rgb(253, 244, 227);
}

.sendMessage:hover {
  scale: 1.1;
  font-weight: bolder;
  background-color: rgb(59, 17, 10);
  transition: 0.7s;
  cursor: pointer;
}

.text-red {
  font-weight: 600;
  width: 100%;
  color: rgb(53, 13, 6);
  margin-bottom: 4px;
  text-shadow: rgba(229, 255, 0, 0.897) 2px 0px 10px;
}

legend {
  width: 100%;
  color: aliceblue;
  margin: 2px 0px 5px 0px;
  text-shadow: rgba(66, 25, 6, 0.897) 2px 0px 10px;
}

input,
select {
  margin-bottom: 5px;
  background-color: rgba(255, 254, 254, 0.575);
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 2px;
}

option:checked {
  color: #fff;
  background-color: rgb(59, 17, 10);
}
input:hover,
input:active,
textarea:hover,
textarea:active,
select:active,
select:hover {
  outline-color: rgb(225, 250, 0);
  color: rgb(0, 0, 0);
  font-weight: 550;
  background-color: rgba(255, 254, 254, 0.849);
}

@media only screen and (max-width: 650px) {
  #dating {
    height: 120vh;
  }
  form {
    width: 95%;
    padding: 15px 15px 20px 15px;
  }

  .formBox {
    margin-top: 40px;
    width: 75%;
    overflow: auto;
  }

  .sendMessage {
    width: 130px;
    font-size: 15px;
  }

  #dating {
    background-size: cover;
  }

  .titleformDating {
    font-size: 22px;
    margin-top: 20px;
  }

  legend {
    font-size: 14px;
  }

  .text-red {
    font-size: 15px;
  }

  .datingFormDescription {
    font-size: 13px;
    width: 75%;
    text-align: left;
  }
}
